/* COGS3 studyBuddy specific styles go here. */

.montserrat-main-font {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-style: normal;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: #0A2540;
}

#title {
  background-color: #1a73e8;
  color: #fff;
  position: relative;
}

h1 h2 h3 {
  color: #0A2540;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

p {
  color: #4a4a4a;
}

em {
  font-family: 'Montserrat';
}

.container-fluid {
  padding: 3% 15%;
}

.caro-image {
  height: 10%;
  width: 10%;
}

/* Navigation Bar. */
.navbar {
   padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 2.5rem;
  margin-left: 25px;
  color:#ffffff;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem; 
  color:#ffffff; 
}

/* Download Buttons. */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  background-color: #1A73E8;
  color: #fff;
  width: 60%;
  transform: rotate(20deg);
  position: absolute;
}

/* Features Setting */
#features {
  padding: 7% 15%;
  background-color: #FFb078;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #1a73e8;
  margin-bottom: 1.5rem;
}

.icon:hover {
  color: #0A2540;
}

/* Testimonial Section */

#testimonials {
  text-align: center;
  background-color: #F8f9fb;
  padding: 7% 15%;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 15%;
  border-radius: 50%;
  margin: 20px;
  border: 4px solid #1a73e8;
}

#press {
  background-color: #f8f9fb;
  text-align: center;
  padding: 3%;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

.testimonial-blue {
  color: blue;
}

#testimonials {
  text-align: center;
  background-color: #1A73E8;
  color: black;
}

.testimonial-item {
  padding: 7% 15%;
}

.testimonial-blue { 
  background-color: #80d8ff; 
}

.testimonial-green { 
  background-color: #a5d6a7; 
}

.testimonial-red { 
  background-color: #ef9a9a; 
}

/* Pricing Selection */ 
#pricing {
  padding: 100px;
  text-align: center;
  background-color: #f8f9fb;
}

.pricing-header {
  color: #000;
  margin-bottom: 40px;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action */
#cta {
  background-color: #1A73E8;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer Section */

#footer {
  padding: 7% 15%;
  text-align: center;
  color: #8892A0;
}

.social-icon {
  margin: 5px 10px;
}

/* Media Query Section */
@media (max-width: 1028px) {

  #title {
    text-align: center;
  }
  .title-image {
    position:static;
    width: 80%;
    transform: rotate(0);
    margin: 30px auto;
  }
}
